// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";



body {
  margin: 0px;
  font-family: 'Cormorant Garamond', serif;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
}

.text-center {
  text-align: center;
}