// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";



body {
  margin: 0px;
  font-family: 'Cormorant Garamond', serif;
  scroll-behavior: smooth;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
  color: white;  /* Fallback: assume this color ON TOP of image */
  font-size: 50px;
}

.text-center {
  text-align: center;
}

div.wrapper {
  // padding-top:  53px;
}