// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";



body {
  margin: 0px;
  font-family: 'Cormorant Garamond', serif;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
  color: white;  /* Fallback: assume this color ON TOP of image */
  background: url(asset_path('title3.jpg')) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  background-position: center;
  font-size: 150px;
  background-size: cover;

}

.text-center {
  text-align: center;
}

div.wrapper {
  padding-top:  53px;
}