<div class="nav">
  <ul class="navbar">
    <li class="list-navbar"><a class="active" href="/cocktails">Home</a></li>
    <li class="list-navbar"><a href="/cocktails/new">New cocktail</a></li>
  </ul>
</div>