.banner {
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

i.fa-arrow-down {
  margin-bottom: 100px;
  font-size: 200%;
  background: -webkit-linear-gradient(yellow, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s
}

i.fa-arrow-down:hover {
  text-shadow: 0px 0px 10px yellow;
  transition: 0.5s
}
.banner-content {
  text-align: center;
}

.banner-content > h2 {
  background: -webkit-linear-gradient(yellow, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 150px;
  // font-family: "Raleway",serif;
  font-size: 300%;
  letter-spacing: 20px;
  text-shadow:0px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  border-bottom: 1px solid gold;
  @media screen and (max-width: 500px) {
    font-size: 200%;
  }
}

.banner-content > p{
  position: relative;
  margin-bottom: 40px;
  font-size: 22px;
  color: white;
  opacity: 0.8;
}

.banner-content > a {
  font-size: 20px;
}