.banner {
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

i.banner-arrow {
  // margin-bottom: 100px;
  position: absolute;
  bottom: 10%;
  font-size: 200%;
  // background: -webkit-linear-gradient(orange, yellow);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  color: white;
  transition: 0.5s
}

i.banner-arrow:hover {
  text-shadow: 0px 0px 10px yellow;
  transition: 0.5s
}
.banner-content {
  text-align: center;
}

.banner-content > h2 {
  // background: -webkit-linear-gradient(yellow, orange);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;


  color: white;
  // margin-top: 150px;
  // font-family: "Raleway",serif;
  font-size: 400%;
  margin-bottom: 30px;
  letter-spacing: 20px;
  text-shadow:0px 0px 10px darkgray;
  margin-bottom: 20px;
  // border-bottom: 1px solid gold;
  @media screen and (max-width: 500px) {
    font-size: 200%;
  }
}

.banner-content > p{
  position: relative;
  margin-bottom: 40px;
  font-size: 22px;
  color: white;
  opacity: 0.8;
}

.banner-content > a {
  font-size: 20px;
}



p.banner-p {
  color: #E38E0E;
  font-size: 150%;
}