.new-cocktail {
  text-decoration: none;
  padding: 20px 40px;
  color: white;  /* Fallback: assume this color ON TOP of image */
   background: url(asset_path('footer3.jpg')) no-repeat;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   border: 5px solid pink;
  border-image: url(asset_path('footer3.jpg')) 30 30;
   background-size: cover;
   font-size: 100px;
   transition: 0.4s ease;
    -webkit-transition:  0.4s;

   &:hover {
    transition: 0.4s ease;
    -webkit-transition:  0.4s;
    transform: translate(0,-25px);
    box-shadow: 0 0 20px #ddd;
   }

   @media screen and (max-width: 500px) {
    font-size: 50px;
   }
    @media screen and (min-width: 594px) and (max-width: 760px) {
    font-size: 80px;
   }
}

.new-cocktail-link {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}


li.ingredients > a {
  text-decoration: none;
  margin-left: 10px;
  color: #E38E0E;
  transition:0.3s;
  &:hover {
    color: gold;
    transition: 0.3s;
  }
}

a.add-ingredient, a.index, .submit-btn {
  text-decoration: none;
  padding: 15px 30px;
  background-image: linear-gradient(-225deg, rgba(50,50,50,0.5) 0%, rgba(50,50,50,0.3) 50%), url(asset_path('footer3.jpg'));
  background-size: cover;
  color: white;
  border-radius: 3px;
  font-size: 150%;
   transition: 0.4s ease;
  -webkit-transition:  0.4s;
  border: 0


 }

a.add-ingredient {
  margin-right: 10px;
}

div.add-ingredient:hover, div.index:hover, .new-cocktail-btn:hover{
    transition: 0.4s ease;
    -webkit-transition:  0.4s;
    transform: translate(0,-10px);
    color: white;

}

div.add-ingredient, div.index, .new-cocktail-btn {
  transition: 0.4s ease;
  -webkit-transition:  0.4s;

}





.image-upload > input
{
   display: none;
}
.image-upload > label{
  cursor:pointer;
}

.submit-btn {
  text-align: center;
  font-weight: lighter;
  font-family: inherit;

}

.new-cocktail-btn {
  margin-left: 40%;
  margin-right: 40%;
  width: 20%;
  cursor: pointer;
}

.new-dose-btn {
  width: 100%;
  cursor: pointer;
}

.index {
  display: block;
}

div.index {
  width: 50%;
}