div.container-new {
  display: flex;
  justify-content: center;
  align-items: center;
 }

.name-input {
  font-family: 'Cormorant Garamond', serif;
}


.fa-camera {
  font-size: 250%;
  margin-left: 10px;
  color: orange;
  transition:0.5s;
  &:hover {
    color: #F7D72C;
    transition: 0.5s
  }
}

label.file-input {
  color: orange;
  font-size: 120%;
  transition: 0.5s;
  &:hover {
    color: #F7D72C;
    transition: 0.5s
  }
}


/* NEW FORM STYLE FOR DOSES ***************************************************
*/

.form-group {
  margin: 20px 0;
}

div.ingredients {
  position: relative;
}

select {
  font-family: inherit;
    text-align: center;
    width: 140px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    height: 34px;
    // background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd;
    background-color: #E38E0E;
    color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: 0.5s;
    width: 100%;
}

 select:hover {
  background-color: gold;
  color: black;
  transition: 0.5s;
 }

 #dose_ingredient_id {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#ingredients-list li p {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #E38E0E; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: white; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
    transition: 0.5s
}

#ingredients-list li p:hover:not(.header) {
    background-color: gold; /* Add a hover effect to all links, except for headers */
    color: white;
    transition: 0.5s
}

#ingredients-list {
  height: 100px;
  overflow: auto;
}