div.container-new {
  display: flex;
  justify-content: center;
  align-items: center;
 }

.name-input {
  font-family: 'Cormorant Garamond', serif;
}


.fa-camera {
  font-size: 250%;
  margin-left: 10px;
  color: orange;
  transition:0.5s;
  &:hover {
    color: #F7D72C;
    transition: 0.5s
  }
}

label.file-input {
  color: orange;
  font-size: 120%;
  transition: 0.5s;
  &:hover {
    color: #F7D72C;
    transition: 0.5s
  }
}


/* NEW FORM STYLE FOR DOSES ***************************************************
*/

.form-group {
  margin: 20px 0;
}

div.ingredients {
  position: relative;
}

select {
  font-family: inherit;
    text-align: center;
    width: 140px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    height: 34px;
    // background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd;
    background-color: #E38E0E;
    color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: 0.5s;
    width: 100%;
}

 select:hover, .submit-btn:hover {
  background-color: gold;
  color: black;
  transition: 0.5s;
 }