ul {
  list-style: none;
  padding: 0;
}
.cards {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: center;
  margin-right: 100px;
  margin-left: 100px;
}

.card {
  width: 360px;
  box-shadow: 0px 0px 30px #aaa;
  margin: 50px 10px;
  flex: 1 0 auto;
  background-size: cover;
  background-position: bottom;
  @media screen and (max-width:400px) {
    width: 300px;
  }
}

.card:hover .card-body {
  transition:  0.3s;
  -webkit-transition:  0.3s;
  transform: translate(0,-25px);
}

.card:hover .card-footer {
  transition:  0.3s;
  -webkit-transition:  0.3s;
  transform: translate(0,-25px);
}

.card-body:hover {
  filter:grayscale(40%);
}
.card-body {
  color: white;
  height: 220px;
  background-size: cover;
  position: relative;
  transition: 0.3s;
  -webkit-transition: 0.3s;


}

.card-footer {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 70px;
  width: 100%;
  transition:  0.3s;
  -webkit-transition:  0.3s;
}

.card-body {
  background-position: center
}

li.space-between {
  display:flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

li.space-between > p {
  font-size: 130%;
}

li.space-between > a {
  text-decoration: none;
}

#link-card {
  text-decoration: none;
  color: black;

}